# Node Dependencies
node_modules/
dist/
build/
# Environment Variables (Secrets)
.env
*.env

# Terraform (Infrastructure)
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Logs and Systems
*.log
.DS_Store
.vscode/